<html lang="en">
 <%- include("./partials/header.ejs") %> 

<body>
   <%- include("./partials/navbar.ejs") %> 

   <form action="/blogs" method="POST">
    <div class="form-group">
      <label for="title" >Blog Title</label>
      <input type="text" class="form-control" name="title" id="title" required placeholder="Enter your Title Here...">
    </div>
    <div class="form-group">
      <label for="snippet" >Blog Snippet</label>
      <input type="text" class="form-control" name="snippet" id="snippet" required placeholder="Enter Snippet Here..">
    </div>
  
   
    <div class="form-group">
      <label for="body">Blog Body</label>
      <textarea class="form-control" name="body" required id="body" rows="5"></textarea>
    </div>
    
    <button type="submit" class="btn m-3 btn-dark">Create</button>
  </form>
  

   <%- include("./partials/footer.ejs") %> 
</body>
</html>